{% extends 'forms/form.html' %}
{% load static %}

{% block title %}
    {{ persona.nombres|title }} {{ persona.apellido_paterno|title }} {{ persona.apellido_materno|title }} | {{ title }}
{% endblock title %}

{% block form %}
<div class="card">
    <!-- Begin card header -->
    <div class="card-header">
        <div>
            <div class="row align-items-center">
                <div class="col-auto">
                    {% if persona.foto %}
                    <span class="avatar" style="background-image: url(media/{{ persona.foto }})"></span>
                    {% else %}
                    <span class="avatar"
                        style="background-image: url({% static 'project/img/users/usuario_general_04.jpg' %})"></span>
                    {% endif %}
                </div>
                <div class="col">
                    <div class="card-title">
                        {{ persona.nombres|title }} {{ persona.apellido_paterno|title }} {{ persona.apellido_materno|title }}
                    </div>
                    <div class="card-subtitle">
                        {{ persona.dni }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-actions">
            <a href="#" class="btn">
                <!-- Download SVG icon from http://tabler-icons.io/i/phone -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                    </path>
                </svg>
                Phone
            </a>
            <a href="#" class="btn">
                <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <rect x="3" y="5" width="18" height="14" rx="2"></rect>
                    <polyline points="3 7 12 13 21 7"></polyline>
                </svg>
                Email
            </a>
        </div>
    </div>
    <!-- Begin card header -->

    <!-- Begin card body -->
    <div class="card-body">
        <!-- Begin form -->
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}

        <form action="" id="form" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="mb-3 col-sm-4 form-group {% if form.sede.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.sede.label }}
                    </label>
                    {{ form.sede }}
                    <div class="text-danger">
                        {{ form.sede.errors }}
                    </div>
                </div>

                <div class="mb-3 col-sm-4 form-group {% if form.modulo.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.modulo.label }}
                    </label>
                    {{ form.modulo }}
                    <div class="text-danger">
                        {{ form.modulo.errors }}
                    </div>
                </div>
                <div class="mb-3 col-sm-4 form-group {% if form.edificio.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.edificio.label }}
                    </label>
                    {{ form.edificio }}
                    <div class="text-danger">
                        {{ form.edificio.errors }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-sm-6 form-group {% if form.dependencia.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.dependencia.label }}
                    </label>
                    {{ form.dependencia }}
                    <div class="text-danger">
                        {{ form.dependencia.errors }}
                    </div>
                </div>
                <div class="mb-3 col-sm-6 form-group {% if form.cargo.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.cargo.label }}
                    </label>
                    {{ form.cargo }}
                    <div class="text-danger">
                        {{ form.cargo.errors }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="fecmb-3 ha_inicio" class="col-sm-4 form-group {% if form.inicio.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.inicio.label }}
                    </label>
                    <div class="input-group date">
                        <span class="input-group-addon bg-white">
                            <i class="fa fa-calendar"></i>
                        </span>
                        {{ form.inicio }}
                    </div>

                    <div class="text-danger">
                        {{ form.inicio.errors }}
                    </div>
                </div>
                <div id="fecmb-3 ha_cese" class="col-sm-4 form-group {% if form.cese.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.cese.label }}
                    </label>
                    <div class="input-group date">
                        <span class="input-group-addon bg-white">
                            <i class="fa fa-calendar"></i>
                        </span>
                        {{ form.cese }}
                    </div>

                    <div class="text-danger">
                        {{ form.cese.errors }}
                    </div>
                </div>
                <div class="mb-3 col-sm-4 form-group {% if form.documento_asignacion.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.documento_designacion.label }}
                    </label>
                    {{ form.documento_designacion }}

                    <div class="text-danger">
                        {{ form.documento_designacion.errors }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-sm-12 form-group {% if form.observaciones.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.observaciones.label }}
                    </label>
                    {{ form.observaciones }}
                    <div class="text-danger">
                        {{ form.observaciones.errors }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-sm-12 form-group m-b-0 {% if form.activo.errors %}has-error{% endif %}">
                    <label class="form-label">
                        <label class="ui-checkbox ui-checkbox-primary">
                        </label>
                        {{ form.activo }}
                        <span class="input-span"></span>
                        {{ form.activo.label }}
                    </label>
                    <div class="text-danger">
                        {{ form.activo.errors }}
                    </div>
                </div>
            </div>
        </form>
        <!-- End form -->

        <!-- TODO: ESPACIO DE FORMULARIO Y BOTONES -->
        <!-- TODO: QUITAR LOS BOTONES DEL ENCABEZADO DEL FORMULARIO -->
        <!-- TODO: VALIDACIONES DE CAMPOS DE FORMULARIO -->
        <!-- TODO: TÍTULO DE LA PÁGINA -->

        {% block form-buttons %}
        <div class="card-footer text-end">
            <div class="d-flex">
                <a href="{% url 'employees:list' %}" class="btn btn-link me-auto">
                    Cancelar
                </a>
                <div>

                    <button type="submit" class="btn btn-primary ms-auto" name="save">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
        {% endblock form-buttons %}
    </div>
    <!-- End card body -->
</div>
{% endblock form %}