# LPER
PS D:\Proyectos\Code\Django\ERP_CSJPasco> & D:/Proyectos/Envs/PY3104DJ404/Scripts/Activate.ps1
(PY3104DJ404) PS D:\Proyectos\Code\Django\ERP_CSJPasco> 


# LPJ
D:\Documentos\Proyectos\Envs\PY3104DJ405\Scripts\
D:\Documentos\Proyectos\code\ERP_CSJPasco