{% extends 'tables/datatables.html' %}
{% load static %}



{% block page-title %}
    {% include 'base/page-title.html' with pre_title=pre_title title=title %}

    {% url 'persons:create' as action_url %}
    {% include 'base/title-actions.html' with action='Nuevo equipo' action_url=action_url %}
{% endblock page-title %}



{% block columns %}
<tr>
    <th class="font-light align-middle text-center " style="width: 3%;">Nro</th>
    <th class="font-light align-middle text-center " style="width: 7%;">DNI</th>
    <th class="font-light align-middle text-center " style="width: 11%;">Apellido Paterno</th>
    <th class="font-light align-middle text-center " style="width: 11%;">Apellido Materno</th>
    <th class="font-light align-middle text-center " style="width: 16%;">Nombres</th>
    <th class="font-light align-middle text-center " style="width: 15%;">Correo</th>
    <th class="font-light align-middle text-center " style="width: 7%;">Teléfono</th>
    <th class="font-light align-middle text-center " style="width: 5%;">Anexo</th>
    <th class="font-light align-middle text-center " style="width: 15%;">Cumpleaños</th>
    <th class="font-light align-middle text-center " style="width: 10%;">Acciones</th>
</tr>
{% endblock columns %}


{% block rows %}
{% for persona in object_list %}
<tr>
    <td class="text-center font-light align-middle" style="background-color: #f8f9fa;">
    </td>
    <td class="font-light align-middle">
        <a href="{% url 'persons:profile' persona.dni %}">
            {{ persona.dni }}
        </a>
    </td>
    <td class="font-light align-middle">{{ persona.apellido_paterno|title|default_if_none:'' }}</td>
    <td class="font-light align-middle">{{ persona.apellido_materno|title|default_if_none:'' }}</td>
    <td class="font-light align-middle">{{ persona.nombres|title|default_if_none:'' }}</td>
    <td class="font-light align-middle">{{ persona.correo_institucional|default_if_none:''|lower }}</td>
    <td class="font-light align-middle">{{ persona.telefono_principal|default_if_none:'' }}</td>
    <td class="font-light align-middle">{{ persona.anexo_institucional|default_if_none:'' }}</td>
    <td class="font-light align-middle">
        {% if persona.fecha_nacimiento %}
            {{ persona.fecha_nacimiento|date:'j' }} de {{ persona.fecha_nacimiento|date:'F' }}
        {% endif %}
    </td>
    <td class="">
        <div class="btn-list flex-nowrap">
            {% url 'persons:profile' persona.dni as profile_url %}
            {% include 'buttons/profile_button.html' with profile_url=profile_url %}

            {% url 'persons:edit' persona.dni as edit_url %}
            {% include 'buttons/edit_button.html' with edit_url=edit_url %}

            {% url 'employees:create' persona.dni as instance_url %}

            <a 
                href="{% url 'employees:create' persona.dni %}" 
                class="page-item active" data-toggle="tooltip" data-original-title="Asignar dependencia">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="3" y1="21" x2="21" y2="21"></line>
                    <line x1="9" y1="8" x2="10" y2="8"></line>
                    <line x1="9" y1="12" x2="10" y2="12"></line>
                    <line x1="9" y1="16" x2="10" y2="16"></line>
                    <line x1="14" y1="8" x2="15" y2="8"></line>
                    <line x1="14" y1="12" x2="15" y2="12"></line>
                    <line x1="14" y1="16" x2="15" y2="16"></line>
                    <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16"></path>
                </svg>        
            </a>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock rows %}


<!-- TODO: Cambiar los nombres de los archivos a sub_guion -->