{% extends 'tables/datatables.html' %}
{% load static %}


{% block columns %}
<tr>
    <th class="font-light align-middle text-center " style="width: 3%;">Nro</th>
    <th class="font-light align-middle text-center " style="width: 7%;">DNI</th>
    <th class="font-light align-middle text-center " style="width: 11%;">Apellido Paterno</th>
    <th class="font-light align-middle text-center " style="width: 11%;">Apellido Materno</th>
    <th class="font-light align-middle text-center " style="width: 16%;">Nombres</th>
    <th class="font-light align-middle text-center " style="width: 15%;">Correo</th>
    <th class="font-light align-middle text-center " style="width: 7%;">Teléfono</th>
    <th class="font-light align-middle text-center " style="width: 5%;">Anexo</th>
    <th class="font-light align-middle text-center " style="width: 15%;">Cumpleaños</th>
    <th class="font-light align-middle text-center " style="width: 10%;">Acciones</th>
</tr>
{% endblock columns %}


{% block rows %}
{% for persona in personas %}
<tr>
    <td class="text-center font-light align-middle" style="background-color: #f8f9fa;">
    </td>
    <td class="font-light align-middle">
        <a href="">
            {{ persona.dni }}
        </a>
    </td>
    <td class="font-light align-middle">{{ persona.apellido_paterno|title|default_if_none:'' }}</td>
    <td class="font-light align-middle">{{ persona.apellido_materno|title|default_if_none:'' }}</td>
    <td class="font-light align-middle">{{ persona.nombres|title|default_if_none:'' }}</td>
    <td class="font-light align-middle">{{ persona.correo_institucional|default_if_none:''|lower }}</td>
    <td class="font-light align-middle">{{ persona.telefono_principal|default_if_none:'' }}</td>
    <td class="font-light align-middle">{{ persona.anexo_institucional|default_if_none:'' }}</td>
    <td class="font-light align-middle">
        {% if persona.fecha_nacimiento %}
            {{ persona.fecha_nacimiento|date:'j' }} de {{ persona.fecha_nacimiento|date:'F' }}
        {% endif %}
    </td>
    <td class="">
        <div class="btn-list flex-nowrap">
            {% include 'buttons/edit_button.html' %}

            {% include 'buttons/delete_button.html' %}

            {% include 'buttons/instance_button.html' %}
        </div>
    </td>
</tr>
{% endfor %}
{% endblock rows %}