{% extends 'base/body.html' %}
{% load static %}

<!-- TODO: Si el usuario que verifica el perfil es de la oficina de personal, puede ver la edad y la 
fecha de nacimiento completa -->

{% block title %}
{{ persona.nombres|title }}
{{ persona.apellido_paterno|title }} {{ persona.apellido_materno|title }} | {{title}}
{% endblock title %}

{% block page-title %}
{% include 'base/page-title.html' with title=title pre_title=pre_title %}

<div class="col-12 col-md-auto ms-auto d-print-none">
    <div class="btn-list">

        <span class="d-none d-sm-inline">
            <a href="{% url 'persons:list' %}" class="btn btn-white">
                Listado de personas
            </a>
        </span>

        <a href="{% url 'persons:edit' persona.dni %}" class="btn btn-primary d-none d-sm-inline-block">
            Modificar
        </a>
    </div>
</div>
{% endblock page-title %}

{% block content %}
<div class="row gutters-sm">
    <div class="col-lg-2 col-md-3 col-sm-3">
        <div class=" card text-center">
            <img {% if persona.foto %} src="/media/{{ persona.foto }}" {% else %}
                src="{% static 'project/img/users/usuario_general_04.jpg' %}" {% endif %} class="card-img" alt="
                    {{ persona.nombres|title }}
                    {{ persona.apellido_paterno|title }} {{ persona.apellido_materno|title }}">
        </div>
    </div>

    <div class="col-lg-10 col-md-9 col-sm-9">
        <div class="card mb-3">
            <div class="ribbon {% if persona.activo %} bg-success {% else %} bg-danger {% endif %}">
                {{ persona.activo|yesno:'Activo, Inactivo'}}
            </div>
            <div class="card-body p-4">
                {% block datos-persona %}
                    <h1 class="m-0 mb-2 text-blue">
                        {{ persona.nombres|title }}
                        {{ persona.apellido_paterno|title }} {{ persona.apellido_materno|title }}
                    </h1>
                    {% if persona.dni is None %}
                        <div class="alert alert-danger">
                            Esta persona se ha registrado sin número de DNI; por favor, actualice los datos a fin de
                            evitar errores.
                        </div>
                    {% else %}
                        <div class=" align-middle text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-id" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <rect x="3" y="4" width="18" height="16" rx="3"></rect>
                                <circle cx="9" cy="10" r="2"></circle>
                                <line x1="15" y1="8" x2="17" y2="8"></line>
                                <line x1="15" y1="12" x2="17" y2="12"></line>
                                <line x1="7" y1="16" x2="17" y2="16"></line>
                            </svg>
                            DNI: {{ persona.dni }}
                        </div>
                    {% endif %}
                {% endblock datos-persona %}
                
                {% block datos-contacto %}
                <hr>
                <div class="row text-muted mb-3">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <rect x="3" y="5" width="18" height="14" rx="2"></rect>
                            <polyline points="3 7 12 13 21 7"></polyline>
                        </svg>
                        {{ persona.correo_institucional|default_if_none:'No registrado' }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                            </path>
                        </svg>
                        {{ persona.telefono_principal|default_if_none:'No registrado' }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                            </path>
                            <path d="M15 7a2 2 0 0 1 2 2"></path>
                            <path d="M15 3a6 6 0 0 1 6 6"></path>
                        </svg>
                        Anexo: {{ persona.anexo_institucional|default_if_none:'No registrado' }}
                    </div>
                </div>

                <div class="row text-muted">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cake" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M3 20h18v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8z"></path>
                            <path
                                d="M2.996 14.803c.312 .135 .654 .204 1.004 .197a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1c.35 .007 .692 -.062 1.004 -.197">
                            </path>
                            <path d="M12 4l1.465 1.638a2 2 0 1 1 -3.015 .099l1.55 -1.737z"></path>
                        </svg>
                        {{ persona.fecha_nacimiento|default_if_none:'No registrado'|date:'j F' }}
                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-directions"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 21v-4"></path>
                            <path d="M12 13v-4"></path>
                            <path d="M12 5v-2"></path>
                            <path d="M10 21h4"></path>
                            <path d="M8 5v4h11l2 -2l-2 -2z"></path>
                            <path d="M14 13v4h-8l-2 -2l2 -2z"></path>
                        </svg>
                        {{ persona.direccion|default_if_none:'No registrado' }}
                    </div>
                </div>
                {% endblock datos-contacto %}
            </div>
        </div>









        <div class="card mb-3">
            <div class="card-body p-4">
                <h1 class="m-0 mb-1">
                    <a href="#">
                        {{ persona.nombres|title }}
                        {{ persona.apellido_paterno|title }} {{ persona.apellido_materno|title }}
                    </a>
                </h1>
                {% if persona.dni %}
                <div class="text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-id" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <rect x="3" y="4" width="18" height="16" rx="3"></rect>
                        <circle cx="9" cy="10" r="2"></circle>
                        <line x1="15" y1="8" x2="17" y2="8"></line>
                        <line x1="15" y1="12" x2="17" y2="12"></line>
                        <line x1="7" y1="16" x2="17" y2="16"></line>
                    </svg>
                    DNI: {{ persona.dni }}
                </div>
                {% else %}
                <div class="alert alert-danger">
                    Esta persona se ha registrado sin número de DNI; por favor, actualice los datos a fin de
                    evitar errores.
                </div>
                {% endif %}

                <div class="text-muted">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    {% if persona.correo_institucional %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="3" y="5" width="18" height="14" rx="2"></rect>
                                        <polyline points="3 7 12 13 21 7"></polyline>
                                    </svg>
                                    Correo electrónico: {{ persona.correo_institucional }}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if persona.telefono_principal %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path
                                            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                                        </path>
                                    </svg>
                                    Teléfono: {{ persona.telefono_principal }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if persona.anexo_institucional %}
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-phone-call" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path
                                            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                                        </path>
                                        <path d="M15 7a2 2 0 0 1 2 2"></path>
                                        <path d="M15 3a6 6 0 0 1 6 6"></path>
                                    </svg>

                                    Anexo telefónico: {{ persona.anexo_institucional|default_if_none:'' }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cake" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 20h18v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8z"></path>
                        <path
                            d="M2.996 14.803c.312 .135 .654 .204 1.004 .197a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1c.35 .007 .692 -.062 1.004 -.197">
                        </path>
                        <path d="M12 4l1.465 1.638a2 2 0 1 1 -3.015 .099l1.55 -1.737z"></path>
                    </svg>
                    Cumpleaños: {{ persona.fecha_nacimiento|date:'j F' }}
                </div>

            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body p-4">
                <h1 class="m-0 mb-1">
                    <a href="#">
                        {{ persona.nombres|title }}
                        {{ persona.apellido_paterno|title }} {{ persona.apellido_materno|title }}
                    </a>
                </h1>
                {% if persona.dni %}
                <div class="text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-id" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <rect x="3" y="4" width="18" height="16" rx="3"></rect>
                        <circle cx="9" cy="10" r="2"></circle>
                        <line x1="15" y1="8" x2="17" y2="8"></line>
                        <line x1="15" y1="12" x2="17" y2="12"></line>
                        <line x1="7" y1="16" x2="17" y2="16"></line>
                    </svg>
                    DNI: {{ persona.dni }}
                </div>
                {% else %}
                <div class="alert alert-danger">
                    Esta persona se ha registrado sin número de DNI; por favor, actualice los datos a fin de
                    evitar errores.
                </div>
                {% endif %}

                <div class="text-muted">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    {% if persona.correo_institucional %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="3" y="5" width="18" height="14" rx="2"></rect>
                                        <polyline points="3 7 12 13 21 7"></polyline>
                                    </svg>
                                    Correo electrónico: {{ persona.correo_institucional }}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if persona.telefono_principal %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path
                                            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                                        </path>
                                    </svg>
                                    Teléfono: {{ persona.telefono_principal }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if persona.anexo_institucional %}
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-phone-call" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path
                                            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                                        </path>
                                        <path d="M15 7a2 2 0 0 1 2 2"></path>
                                        <path d="M15 3a6 6 0 0 1 6 6"></path>
                                    </svg>

                                    Anexo telefónico: {{ persona.anexo_institucional|default_if_none:'' }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cake" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 20h18v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8z"></path>
                        <path
                            d="M2.996 14.803c.312 .135 .654 .204 1.004 .197a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1c.35 .007 .692 -.062 1.004 -.197">
                        </path>
                        <path d="M12 4l1.465 1.638a2 2 0 1 1 -3.015 .099l1.55 -1.737z"></path>
                    </svg>
                    Cumpleaños: {{ persona.fecha_nacimiento|date:'j F' }}
                </div>

            </div>
        </div>
    </div>

</div>



{% endblock content %}