{% extends 'base/body.html' %}
{% load static %}

<!-- TODO: VALIDACIONES DE CAMPOS DE FORMULARIO -->
<!-- TODO: instalar plugin datepicker -->

{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}
{% include 'messages/messages.html' %}
{% include 'messages/errors.html' %}
<!-- Begin card -->
<div class="card">
    <!-- Begin card header -->
    <div class="card-header">
        {% url 'inventory:create_equipo' as action_url %}
        {% include 'base/header_with_employee_01.html' with action='Perfil de empleado' action_url=action_url %}
    </div>
    <!-- Begin card header -->

    <!-- Begin form -->
    <form 
        method="POST"
        action="" id="form" novalidate>
        <!-- Begin card body -->
        <div class="card-body">
            <!-- Begin messages -->

            {% csrf_token %}

            {% block fieldset %}
            
            <!-- Elimina este código. -->
            <div class="card">
                <div class="card-body p-0">
                    Extends: 'base/body.html' | Use: { % block fieldset % }
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-100" preserveAspectRatio="none" width="400"
                        height="200" viewBox="0 0 400 200" stroke="var(--tblr-border-color, #b8cef1)">
                        <!--	<rect x=".5" y=".5" width="399" height="199" fill="#fff" rx="2"></rect>-->
                        <line x1="0" y1="0" x2="400" y2="200"></line>
                        <line x1="0" y1="200" x2="400" y2="0"></line>
                    </svg>
                </div>
            </div>

            {% endblock fieldset %}
        </div>
        <!-- End card body -->

        {% block form-buttons %}
        <div class="card-footer text-end">
            <div class="row">
                <div class="d-flex">
                    <a href="{% url 'employees:list' %}" class="btn btn-link me-auto">
                        Cancelar
                    </a>
                    <div>
                        <button type="submit" class="btn btn-primary ms-auto" name="save">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endblock form-buttons %}
    </form>
    <!-- End form -->
</div>
<!-- Begin card -->
{% endblock content %}