{% extends 'tables/datatables.html '%}

{% block page-title %}
    {% include 'base/page-title.html' with pre_title=pre_title title=title %}

    {% url 'inventory:create_equipo' as action_url %}
    {% include 'base/title-actions.html' with action='Nuevo equipo' action_url=action_url %}
{% endblock page-title %}

{% block columns %}
<tr>
    <th class="font-light">
        Nro
    </th>
    <th class="font-light">
        Equipo
    </th>
    <th class="font-light">
        Marca
    </th>
    <th class="font-light">
        Modelo
    </th>
    <th class="font-light">
        Serie
    </th>
    <th class="font-light">
        Cód. Pat.
    </th>
    <th class="font-light">
        Estado
    </th>
    <th class="font-light">
        Condicion
    </th>
    <th class="font-light">
        Situación
    </th>
    <th class="font-light">
        Acciones
    </th>
</tr>
{% endblock columns %}

{% block rows %}
{% for object in object_list %}
<tr>
    <td>
    </td>
    <td>
        <a href="" data-toggle="tooltip" data-original-title="Detalle">
            {{ object.categoria|title|default_if_none:'' }}
        </a>
    </td>
    <td>
        {{ object.marca|title|default_if_none:'' }}
    </td>
    <td>
        {{ object.modelo|title|default_if_none:'' }}
    </td>
    <td>
        {{ object.serie|default_if_none:'' }}
    </td>
    <td>
        {{ object.cod_patrimonial|default_if_none:''|upper }}
    </td>
    <td>
        {{ object.get_estado_display|title|default_if_none:'' }}
    </td>
    <td>
        {{ object.get_condicion_display|title|default_if_none:'' }}
    </td>
    <td class="font-light">
        {% if object.asignado %}
        <span class="badge bg-danger">Asignado</span>
        {% else %}
        <span class="badge bg-success">Disponible</span>
        {% endif %}
    </td>
    <td>
        <div class="btn-list flex-nowrap">
            {% url 'persons:profile' empleado.persona.dni as profile_url %}
            {% include 'buttons/computer_button.html' with profile_url=profile_url %}

            {% url 'inventory:edit_equipo' object.id as edit_url %}
            {% include 'buttons/edit_button.html' with edit_url=edit_url %}

            {% url 'inventory:asignar_equipo' object.id as employee_url %}
            {% include 'buttons/user_button.html' with employee_url=employee_url %}            
        </div>
    </td>

</tr>
{% endfor %}
{% endblock rows %}