{% extends 'tables/datatables.html '%}

{% block page-title %}
    {% include 'base/page-title.html' with pre_title=pre_title title=title %}


    <div class="col-12 col-md-auto ms-auto d-print-none">
        <div class="btn-list">
            <a 
                href="" 
                class="btn btn-primary d-none d-sm-inline-block"
                onclick="open_modal('{% url 'inventory:nuevo_equipo' %}')">
                Nuevo equipo
            </a>        
        </div>
    </div>


{% endblock page-title %}

{% block columns %}
<tr>
    <th class="font-light">
        Nro
    </th>
    <th class="font-light">
        Equipo
    </th>
    <th class="font-light">
        Marca
    </th>
    <th class="font-light">
        Modelo
    </th>
    <th class="font-light">
        Serie
    </th>
    <th class="font-light">
        Cód. Pat.
    </th>
    <th class="font-light">
        Estado
    </th>
    <th class="font-light">
        Condicion
    </th>
    <th class="font-light">
        Situación
    </th>
    <th class="font-light">
        Acciones
    </th>
</tr>
{% endblock columns %}

{% block rows %}
{% for object in object_list %}
<tr>
    <td>
    </td>
    <td>
        <a href="" data-toggle="tooltip" data-original-title="Detalle">
            {{ object.categoria|title|default_if_none:'' }}
        </a>
    </td>
    <td>
        {{ object.marca|title|default_if_none:'' }}
    </td>
    <td>
        {{ object.modelo|title|default_if_none:'' }}
    </td>
    <td>
        {{ object.serie|default_if_none:'' }}
    </td>
    <td>
        {{ object.cod_patrimonial|default_if_none:''|upper }}
    </td>
    <td>
        {{ object.get_estado_display|title|default_if_none:'' }}
    </td>
    <td>
        {{ object.get_condicion_display|title|default_if_none:'' }}
    </td>
    <td class="font-light">
        {% if object.asignado %}
        <span class="badge bg-danger">Asignado</span>
        {% else %}
        <span class="badge bg-success">Disponible</span>
        {% endif %}
    </td>
    <td>
        <div class="btn-list flex-nowrap">
            {% url 'persons:profile' empleado.persona.dni as profile_url %}
            {% include 'buttons/computer_button.html' with profile_url=profile_url %}

            <a class="page-item active" 
                onclick="open_modal('{% url 'inventory:editar_equipo' object.id %}')">

                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil text-warning"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
                </svg>
            </a>

            <a class="page-item active" type="submit"
                onclick="open_modal('{% url 'inventory:asignar_equipo' object.id %}')">

                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                </svg>
            </a>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock rows %}


{% block modal-form %}
<div class="modal modal-blur fade show modal_form" id="" tabindex="-1" aria-modal="true" role="dialog">
</div>
{% endblock modal-form %}