{% extends 'forms/modal_form.html' %}


{% block form-modal-title %}
    {{ title }}
{% endblock form-modal-title %}


{% block form-modal-body %}
<form id="" action="{% url 'inventory:asignar_equipo' equipo.id %}" method="POST">
    {% csrf_token %}


    <!-- Begin form header -->
    <div class="modal-body">
        <div class="mb-3 form-selectgroup-item">
            <h3 class="form-selectgroup-title strong mb-2 text-primary">
                {{ equipo.categoria.nombre|title|default_if_none:'' }} {{ equipo.marca.nombre|title|default_if_none:''}}
                {{ equipo.modelo.nombre|title|default_if_none:'' }}
            </h3>
            <span class="d-block text-muted">
                ID: {{ equipo.id }} | serie: {{ equipo.serie }} | Código patrimonial: {{ equipo.cod_patrimonial}}
            </span>
        </div>
    </div>
    <!-- End form header -->

    
    <!-- Begin form body -->
    {% block fieldset %}
    <div class="modal-body">
        <div class="mb-3">
            <fieldset>
                <div class="mb-3 form-group {% if form.empledo.errors %} has-error {% endif %}">
                    <label for="" class="form-label">
                        {{ form.empleado.label }}
                    </label>
                    {{ form.empleado }}
                    <div class="text-danger">
                        {{ form.empleado.errors }}
                    </div>
                </div>

                <div class="mb-3 form-group {% if form.inicio.errors %} has-error {% endif %}">
                    <label for="" class="form-label">
                        {{ form.inicio.label }}
                    </label>
                    {{ form.inicio }}
                    <div class="text-danger">
                        {{ form.inicio.errors }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    {% endblock fieldset %}
    <!-- End form body -->


    {% block form-buttons %}
    <div class="modal-footer">
        <button type="button" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancelar
        </button>

        <button type="submit" class="btn btn-primary ms-auto" name="save">
            Guardar
        </button>
    </div>
    {% endblock form-buttons %}
</form>
{% endblock form-modal-body %}