{% extends 'base/body.html' %}
{% load static %}

<!-- TODO: VALIDACIONES DE CAMPOS DE FORMULARIO -->
<!-- TODO: instalar plugin datepicker -->

{% block title %}
{{ persona.nombres|title }} {{ persona.apellido_paterno|title }} {{ persona.apellido_materno|title }} | {{ title }}
{% endblock title %}

{% block form %}
<!-- Begin card -->
<div class="card">
    <!-- Begin card header -->
    <div class="card-header">
        {% url 'inventory:create_equipo' as action_url %}
        {% include 'base/header_with_employee_01.html' with action='Perfil de empleado' action_url=action_url %}
    </div>
    <!-- Begin card header -->

    <!-- Begin form -->
    <form action="" id="form" novalidate>
        <!-- Begin card body -->
        <div class="card-body">
            <!-- Begin messages -->

            {% csrf_token %}
            
            {% block fieldset %}  
            <div class="row">
                <div class="mb-3 col-sm-4 form-group {% if form.sede.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.sede.label }}
                    </label>
                    {{ form.sede }}
                    <div class="text-danger">
                        {{ form.sede.errors }}
                    </div>
                </div>

                <div class="mb-3 col-sm-4 form-group {% if form.modulo.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.modulo.label }}
                    </label>
                    {{ form.modulo }}
                    <div class="text-danger">
                        {{ form.modulo.errors }}
                    </div>
                </div>
                <div class="mb-3 col-sm-4 form-group {% if form.edificio.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.edificio.label }}
                    </label>
                    {{ form.edificio }}
                    <div class="text-danger">
                        {{ form.edificio.errors }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-sm-6 form-group {% if form.dependencia.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.dependencia.label }}
                    </label>
                    {{ form.dependencia }}
                    <div class="text-danger">
                        {{ form.dependencia.errors }}
                    </div>
                </div>
                <div class="mb-3 col-sm-6 form-group {% if form.cargo.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.cargo.label }}
                    </label>
                    {{ form.cargo }}
                    <div class="text-danger">
                        {{ form.cargo.errors }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="" class="col-sm-4 form-group {% if form.inicio.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.inicio.label }}
                    </label>
                    <div class="input-group date">
                        <span class="input-group-addon bg-white">
                            <i class="fa fa-calendar"></i>
                        </span>
                        {{ form.inicio }}
                    </div>

                    <div class="text-danger">
                        {{ form.inicio.errors }}
                    </div>
                </div>
                <div id="" class="col-sm-4 form-group {% if form.cese.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.cese.label }}
                    </label>
                    <div class="input-group date">
                        <span class="input-group-addon bg-white">
                            <i class="fa fa-calendar"></i>
                        </span>
                        {{ form.cese }}
                    </div>

                    <div class="text-danger">
                        {{ form.cese.errors }}
                    </div>
                </div>
                <div class="mb-3 col-sm-4 form-group {% if form.documento_asignacion.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.documento_designacion.label }}
                    </label>
                    {{ form.documento_designacion }}

                    <div class="text-danger">
                        {{ form.documento_designacion.errors }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-sm-12 form-group {% if form.observaciones.errors %}has-error{% endif %}">
                    <label class="form-label">
                        {{ form.observaciones.label }}
                    </label>
                    {{ form.observaciones }}
                    <div class="text-danger">
                        {{ form.observaciones.errors }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-sm-12 form-group m-b-0 {% if form.activo.errors %}has-error{% endif %}">

                        <label class="ui-checkbox ui-checkbox-primary">
                        </label>
                        {{ form.activo }}
                        <span class="input-span"></span>
                        {{ form.activo.label }}

                    <div class="text-danger">
                        {{ form.activo.errors }}
                    </div>
                </div>
            </div>
            {% endblock fieldset %}  
        </div>
        <!-- End card body -->

        {% block form-buttons %}
        <div class="card-footer text-end">
            <div class="row">
                <div class="d-flex">
                    <a href="{% url 'employees:list' %}" class="btn btn-link me-auto">
                        Cancelar
                    </a>
                    <div>
                        <button type="submit" class="btn btn-primary ms-auto" name="save">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endblock form-buttons %}
    </form>
    <!-- End form -->
</div>
<!-- Begin card -->
{% endblock form %}