/* 
* --------------
*   DataTables                             
* --------------
*/
.dataTables_filter {
    /* float: left !important; */
    margin-top: 15px !important;
    margin-right: 20px !important;
    margin-bottom: 10px !important;
    margin-left: 20px !important;
}

.dataTables_length {
    /* float: right !important; */
    margin-top: 15px !important;
    margin-left: 20px !important;
    margin-bottom: 10px !important;
}

.dataTables_info {
    margin-top: 25px !important;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
    margin-left: 20px !important;
}

.dataTables_paginate {
    margin-top: 5px !important;
    margin-right: 20px !important;

    margin-left: 20px !important;
}

/* 
.dataTables_length label {
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
}
*/

