/* 
* --------------
*   DataTables                             
* --------------
*/
.dataTables_filter {
    /* float: left !important; */
    margin-top: 15px !important;
    margin-right: 20px !important;
    margin-bottom: 10px !important;
    margin-left: 20px !important;
}

.dataTables_length {
    /* float: right !important; */
    margin-top: 15px !important;
    margin-left: 20px !important;
    margin-bottom: 10px !important;
}

.dataTables_info {
    margin-top: 25px !important;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
    margin-left: 20px !important;
}

.dataTables_paginate {
    margin-top: 5px !important;
    margin-right: 20px !important;

    margin-left: 20px !important;
}

/* 
.dataTables_length label {
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
}
*/

/*
* -----------------------
*   Upload image button
* -----------------------
*/
input[type="file"] {
    display: none;
}


/*
* ------------------------
*   Divider for sections
* ------------------------
*/
.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
    text-align: left;
	color: #626976;
	font-size: 12px;
	margin: 8px 0px; 
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: #d9dbde;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 16px 5px;
}